@model AspNetIdentitySample.Models.GoogleAuthenticatorViewModel

@{
    ViewBag.Title = "Enable Google Authenticator";
}

<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-8">
        <h3>1. Adicionar AspNetIdentitySample para Google Authenticator</h3>
        <p>Abrir Google Authenticator e adicionar AspNetIdentitySample pelo scaneamento do QR Code a direita.</p>
        <h3>2. Entrar com o codigo de 6 digitos gerado pelo Google Authenticator</h3>
        <p>
            Verifique se o AspNetIdentitySample foi adicionado corretamente no Google Authenticator entrando com o codigo de 6 digitos
            gerado pelo Google Authenticator para o AspNetIdentitySample abaixo, e então clique em Ativar.
        </p>
        @using (Html.BeginForm("EnableGoogleAuthenticator", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false)
        @Html.HiddenFor(m => m.SecretKey)
        @Html.HiddenFor(m => m.BarcodeUrl)
        <div class="form-group">
            @Html.LabelFor(m => m.Code, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Ativar" />
            </div>
        </div>
        }
    </div>
    <div class="col-md-4" id="qrcode" ></div>
</div>



    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/qrcode")
    <script type="text/javascript">
        new QRCode(document.getElementById("qrcode"), decodeURIComponent("@(Model.BarcodeUrl)"));
    </script>

    }
